.navbar{
    background: rgba(255, 255, 0, 0.090);
    width: 96rem;
    display: flex;
    backdrop-filter: blur(15px);
}

.hiall{
    margin-top: 0.9rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 10rem;
    color: white;
}

.column{
    display: flex;
    gap: 2.5rem;
    margin-left: 7rem;
    padding: 1.2rem 1.7rem;
    margin-right: 6rem;
}

.column a{
    color: var(--color-primary);
}

.l_connect{
    font-size: 1.4rem;
    padding: 1rem;
    
}

.ab{
    display: flex;
    gap: 1rem;
    color: white;
    margin-top: 5px;
}

.ab:hover{
    transform: scale(1.06);
    transition: 0.2s;
    color: var(--color-primary);
}


.b{
    padding-top: 0.17rem;
}
.xy{
    display: flex;
    gap: 1rem;
}

.y{
    margin-top: 4.5px;
    color: white;
}

@media screen and (max-width:1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  
}

@media screen and (max-width:600px) {
    .column{
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .a{
        display: none;
    }
    .b{
        font-size: 1.4rem;
        margin-top: -1px;
    }

    .xy{
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin-left: -7rem;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-top: 5px;   
    }
    .y{
        display: none;
    }
    
}