.navbar{
    background: rgb(7, 7, 35);
    width: 96rem;
    /* padding: 1rem 1.7rem; */
    /* position: fixed;  */
    display: flex;
    backdrop-filter: blur(15px);
}

.hiall{
    margin-top: 0.7rem;
    font-size: 1.5rem;
    margin-left: 8rem;
    color: var(--color-primary);
}

.column{
    display: flex;
    gap: 2.5rem;
    margin-left: 7rem;
    padding: 1.2rem 1.7rem;
    margin-right: 6rem;
}

.column a{
    color: var(--color-primary);
}

.l_connect{
    font-size: 1.4rem;
    padding: 1rem;
    
}

.ab{
    display: flex;
    gap: 1rem;
    color: white;
}

.ab:hover{
    transform: scale(1.06);
    transition: 0.2s;
    color: var(--color-primary);
}


.b{
    padding-top: 0.17rem;
}
.xy{
    display: flex;
    gap: 1rem;
}

.y{
    margin-top: 4.5px;
    color: var(--color-primary);
}