header{
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container{
    display: flex;
    gap: 10rem;
        
    /* text-align: center;
    height: 100%;*/
    /* position: relative;  */
}

.introduction{
    margin-top: 8.5rem;
}

.introduction h1{
    font-size: 3.25rem;
}
.introduction h2{
    font-size: 1.7rem;
    margin-bottom: -16px;
    color: var(--color-primary);
}

.caption_about{
    color: white;
    margin-top: .4rem;
    margin-bottom: 1rem;
    font-weight:100;
}


.me {
    width: 80rem;
    overflow: hidden;
    margin-right: -6rem;
    margin-top: -2rem;
    padding-right: -10px;
    height: 40rem;
    background: linear-gradient(var(--color-primary), transparent);
    border-radius: 30rem 30rem 0 0;
    padding: 1rem ;
}

.scroll__down{
    position: absolute;
    right: 40rem;
    bottom: 15rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 2rem;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2em; 
}


.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 4rem;
    bottom: 7.5rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.test_light{
    margin-top: -13px;
    margin-bottom: -3px;
    font-size: 2rem;
    color: var(--color-primary);
}



@media screen and (max-width:1024px) {
    .header{
        height: 68vh;
    }
}

@media screen and (max-width:600px) {
    .header{
        height: 100vh;
    }
    .header__socials , .scroll__down{
        display: none;
    }
}