.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border: 1.5px solid rgba(255, 255, 0, 0.46);
    background: transparent;
    transform: scale(1.05) rotate(5deg) ;
    transition: 0.4s;
    transition: transform 1s, background-color 1s, box-shadow 1s;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0.2rem;
    font-size: 1.08rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  
}

@media screen and (max-width:600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
    .portfolio__item{
        margin-left: 0.9rem;
        margin-right: 1rem;
    }
    
}